# MongoDB connection string
MONGO_URI=mongodb+srv://dileepkumawat525_db_user:OM5NLtAlXwMMKVhW@cluster0.uxykham.mongodb.net/db

# Base URL of your app (no trailing slash)
BASE_URL=http://localhost:5000

# Port for the Express server
PORT=5000

# Frontend URL for CORS
CLIENT_URL=http://localhost:5173
